body {
    background: url('/images/background-image.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    height: 60px;
    overflow: hidden;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    display: block;
    padding-top: 80px;
    width: 100%;
    box-sizing: border-box;
}

#player_wrapper {
    padding: 20px; /* 余白を追加 */
}

#player_area {
    margin: 10 auto;
    padding: 10px; /* プレイヤー周りに余白を追加 */
    text-align: center;
}

#video-list {
    background-color: rgba(255, 255, 255, 0.7); /* 薄めの背景色を追加 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px; /* 動画一覧の最大幅を設定 */
}

#video-list ul {
    list-style: none; /* デフォルトのリストスタイルを削除 */
    padding-left: 0; /* 左の余白をなくす */
}

#video-list ul li {
    position: relative;
    padding-left: 0; /* 元の状態に戻す */
    margin-bottom: 10px; /* 各リストアイテムの下に余白を追加 */
}

#pagination {
    text-align: center; /* ページングリンクを中央揃え */
    margin: 20px auto; /* 上下に余白を追加 */
}

#pagination a {
    color: #4a4a4a;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #ffffff;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#pagination a:hover {
    background-color: #4a4a4a;
    color: #ffffff;
}

#keyword-tags {
    background-color: rgba(255, 255, 255, 0.7); /* 動画一覧と同様の背景色 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px; /* タグクラウドの最大幅を設定 */
    text-align: center;
}

#keyword-tags p {
    font-weight: bold;
    margin-bottom: 10px;
}

#keyword-tags ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#keyword-tags ul li {
    margin: 5px;
}

#keyword-tags ul li a {
    text-decoration: none;
    color: #4a4a4a;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #4a4a4a;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-size: 14px;
}

#keyword-tags ul li a:hover {
    background-color: #4a4a4a;
    color: #ffffff;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
    box-sizing: border-box;
    padding: 10px;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    box-sizing: border-box;
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 22px;
    width: 22px;
    top: 22px;
    left: 15px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

footer {
    background-color: #f8f8f8;
    color: #4a4a4a;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ececec;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content .logo img {
    width: 150px;
}

.footer-content .about-links ul {
    list-style: none;
    padding: 0;
}

.footer-content .about-links ul li {
    margin: 5px 0;
}

.footer-content .about-links ul li a {
    color: #4a4a4a;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content .about-links ul li a:hover {
    color: #6c63ff;
}

.footer-content .user-info {
    font-weight: bold;
}

.logout-link {
    color: #fff !important; /* 目立つ白色 */
    font-weight: bold;
    text-decoration: none !important; /* 下線を無効化 */
    padding: 5px 10px; /* 余白を追加 */
    border-radius: 5px; /* 角を丸く */
    display: inline-block; /* インラインブロック要素に */
}

.logout-link:hover {
    color: #ffffff !important; /* ホバー時のテキストカラー */
    background-color: #ff0000 !important; /* ホバー時の背景色 */
    text-decoration: none !重要; /* 下線を無効化 */
}

